@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Major+Mono+Display&family=Martian+Mono:wght@300&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of reset */
.body{
    height: 100dvh;
    width: 100dvw;
    padding: 0;
    margin: 0;
    font-family: 'Major Mono Display', monospace;
}
.header,.footer{
    font-family: 'Major Mono Display', monospace;
}
#TITLE{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#logo{
    font-family: 'Martian Mono', monospace;
}
#extra{
    font-family: 'Major Mono Display', monospace;
}
.info{
    font-family: 'Major Mono Display', monospace;
}


h1{
    font-size: 2rem;
    font-family: 'Major Mono Display', monospace;
}

.header{
    background-color: #343434; 
    grid-row: 1/2;
    color: #f3f3f3;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.7rem;
    font-size: large;
    border-bottom: 4px solid rgba(31, 31, 31, 0.363);
}

.main{
    background-color: #e9dcbe; 
    color: #f3f3f3;
    grid-row: 2/6;
    min-height: 96vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    
}

.footer{
    background-color: #343434; 
    grid-row: 6/7;
    color:#f3f3f3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.7rem;
    font-size: medium;
    border-top: 4px solid rgba(31, 31, 31, 0.38);
}

.times{
    color: #f3f3f3;
    
}

.info{
    background-color: #343434;
    border: 3px dashed #f3f3f3;
    border-radius: 1.5rem;
    min-height: 90dvh;
    min-width: 50dvw;
    box-shadow: 60px 16px 1rem 1rem #3434346c;
    display: grid;
    grid-template-rows: 0.5fr 4fr;
    align-items: center;
    justify-items: center;
}
.main {
    /*Taken from css patterns*/
    --s: 100px; /* control the size */
    --c1: #F8B195;
    --c2: #355C7D;
    
    --_g: 
       var(--c2) 6%  14%,var(--c1) 16% 24%,var(--c2) 26% 34%,var(--c1) 36% 44%,
       var(--c2) 46% 54%,var(--c1) 56% 64%,var(--c2) 66% 74%,var(--c1) 76% 84%,var(--c2) 86% 94%;
    background:
      radial-gradient(100% 100% at 100% 0,var(--c1) 4%,var(--_g),#0008 96%,#0000),
      radial-gradient(100% 100% at 0 100%,#0000, #0008 4%,var(--_g),var(--c1) 96%)
      var(--c1);
    background-size: var(--s) var(--s);
  }
  